PORT=4000
DATABASE_URL="postgresql://localhost:5432/atlas?schema=public"

JWT_ACCESS_SECRET="access_secret_change_me_in_prod"
JWT_REFRESH_SECRET="refresh_secret_change_me_in_prod"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"

COOKIE_DOMAIN="localhost"

ADMIN_EMAIL="admin@gustam.dev"
ADMIN_PASSWORD="password123"
ADMIN_NAME="Gustam"
